<!DOCTYPE html>
<html>
  <head>
    <title>PoteShare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p><%= flash[:alert] %></p>
  <% end %>

    
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
    <header class = "header">
    
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top"> 
      
      <div class="navbar-left">
      <ul class="navbar-nav ml-auto">
        <li class="container">
          <a class="navbar-brand" href="http://localhost:3000">
            <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="logo" class="d-inline-block align-text-top"　width="200px" height="50px">
          </a>
        </li>
        
        <li class="container search-box">
          <%= form_with(url: search_path, method: :get) do |f| %>
            <%= f.text_field :search_area, params[:search_area], class="form-control top-form", placeholder: "エリア"%>
            <%= f.submit %>
          <% end %>
        </li>
        
        <li class="container search-box">
          <%= form_with(url: search_path, method: :get) do |f| %>
            <%= f.text_field :search_keyword, params[:search_keyword], class="form-control top-form", placeholder: "キーワード"%>
            <%= f.submit %>
          <% end %>
        </li>
      </ul>
      </div>
      
      <div class="navbar-right">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            メニュー
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
            <a class="dropdown-item" href="/rooms/new">ルーム登録</a>
            <a class="dropdown-item" href="/reservations">予約済みルーム一覧</a>
            <a class="dropdown-item" href="/rooms">登録済みルーム一覧</a>
            <a class="dropdown-item" href="/users/account">設定</a>
            <a class="dropdown-item" data-method="delete" href="/users/sign_out">ログアウト</a>
          </div>
        </li>
      <% else %>
        <div class="grid-6">
          <%= link_to "ログイン", new_user_session_path, class: 'post btn btn-primary before_login_button' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post btn btn-secondary before_login_button' %>
        </div>
      <% end %>
      </div>
  </nav>

  </header>
  
  <%= yield %>
    
  <footer class="footer">© 2020 POTEPAN.INC.</footer>
  </body>
</html>



